.content {
  display: flex;
  justify-content: space-around;
}

.gameBoard-wrapper,
.gameBoard-human,
.gameBoard-computer {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  max-width: fit-content;
}

.square {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;

  &.-ship {
    background: red;
  }

  &.-test {
    background: green;
  }

  &:hover {
    background: green;
  }
}
